<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Book Name</h1>
  </div>
</div>  
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown open">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="triggerId"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manege Books
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <button class="dropdown-item" href="#">Add to Shopping List</button>
        <button class="dropdown-item" href="#">Edit book</button>
        <button class="dropdown-item" href="#">Delete book</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <h1>Book Description</h1>
    </div>
  </div>
<div class="row">
    <div class="col-xs-12">
      <h1>Ingredients</h1>
    </div>
  </div>