<p>edit-shopping-list works!</p>

<div class="row">
  <div class="">
    <form>
      <div class="row">
        <div class="col-sm-8 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            placeholder="Amount"
          />
          <!-- <input type="number" id="amount" class="form-control" /> -->
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-xs-4 form-group">
          <button type="button" class="btn btn-primary">Clear</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
